// -----------------------------------------------------------------------------
// Import Google Fonts
// -----------------------------------------------------------------------------
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic");

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$font-sans    : "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif   : Georgia, Times, "Times New Roman", serif;


// -----------------------------------------------------------------------------
// Defaults
// -----------------------------------------------------------------------------
h1 {
    @include font-size(24);
}

h2 {
    @include font-size(22);
}

h3 {
    @include font-size(20);
}

h4 {
    @include font-size(18);
}

h5 {
    @include font-size(16);
}

h6 {
    @include font-size(14);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5rem 0;
    font-family: inherit;
    font-weight: 400;
}

small,
.font_small {
    @include font-size(12);
}

strong {
    font-weight: 400;
}

p {
    margin: 0 0 1.5rem 0;
    @include breakpoint($large) {
        margin-bottom:2rem
    }
}

.align--center {
  text-align: center
}

// -----------------------------------------------------------------------------
// Titles
// -----------------------------------------------------------------------------
.title--section {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-serif;
  @include font-size(24);
  letter-spacing: 1px
}

