      <footer>
        <div class="inner">
          <div class="inner--left">

            <a  href="mailto:sekreterareSNABELAmarkussensPUNKTse"
                onclick="this.href=this.href
                .replace(/SNABELA/,'&#64;')
                .replace(/PUNKT/,'&#46;')"
                class="button"
                title="Kontakta oss">Kontakta oss</a>

            <a  href="http://facebook.com/markussens-studiefond"
                class="button"
                title="Stiftelsen Markussens studiefond på Facebook"
                target="_blank"
                rel="nofollow">Följ oss på Facebook</a>

            <p>Stiftelsen Markussens studiefond <br> Box 33, 360 51 Hovmantorp <br> Org. nummer: 829500 - 2813</p>

          </div>
          <div class="inner--right">

            <img src="/images/logo-footer.svg" alt="Stiftelsen Markussens studiefond">

            <span>Grundad 1957 till minne av makarna Markussen</span>

          </div>
        </div>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.11.1.min.js" defer="defer"><\/script>')</script>
    <script src="/javascripts/app.js" defer="defer"></script>

    <!-- Google Analytics: change UA-XXXXX-X -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/rem/0.1/rem.min.js"></script>
    <![endif]-->

  </body>
</html>
