<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sv-SE"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=no, minimal-ui">

    <title>{{ page.title }} | Stiftelsen Markussens Studiefond</title>
    <meta property="og:site_name" content="{{ site.name }}">

    <!-- icons & favicons -->
    <link rel="apple-touch-icon" href="/images/apple-icon-touch.png">
    <link rel="icon" href="/images/favicon.png">
    <!--[if IE]>
      <link rel="shortcut icon" href="/images/favicon.ico">
    <![endif]-->
    <meta name="msapplication-TileColor" content="#31A0B1">
    <meta name="msapplication-TileImage" content="/images/win8-tile-icon.png">

    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:type" content="article">
    {% else %}
      <meta property="og:title" content="{{ site.title }}">
      <meta property="og:type" content="website">
    {% endif %}

    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}">
    {% endif %}

    {% if page.date %}
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}

    {% if page.image %}
      <meta property="og:image" content="{{ site.url }}/{{ page.image }}">
    {% endif %}

    {% if page.url %}
      <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    {% endif %}

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/vendor/modernizr-2.8.3.min.js" defer="defer"></script>

    <!--[if lt IE 9]>
      <script src="/javascripts/vendor/html5shiv.min.js"></script>
      <script src="/javascripts/vendor/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  {% include head.html %}
