// -----------------------------------------------------------------------------
// Default
// -----------------------------------------------------------------------------
.alert {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxMzAxQ0RFRjNCRjExMUU0ODFENERCM0I3QzAzOUVDRCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxMzAxQ0RGMDNCRjExMUU0ODFENERCM0I3QzAzOUVDRCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjEzMDFDREVEM0JGMTExRTQ4MUQ0REIzQjdDMDM5RUNEIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjEzMDFDREVFM0JGMTExRTQ4MUQ0REIzQjdDMDM5RUNEIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+bSjeKgAAAC9JREFUeNpiYsAPeJjwSQLxFyZ8kiAGEz5JbApQJNEVYEgiK8AqCVOAUxIEAAIMACatBx3X7ie2AAAAAElFTkSuQmCC);
  background-repeat: repeat;
  background-position: top left;
  padding: 1.5rem;
  @include border-radius($radius_global);
  @include box-shadow(inset 0 0 0 1px rgba($darkgray, .1));
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include breakpoint($large) {
    width: $three_quarters;
  }

  p {
    margin: 0;
  }

  span {
    display: block;
    clear: both;
    width: 100%;
    margin: 1rem 0 0 0;
    @include font-size(13);
  }

  .button {
    margin: 1rem 0 0 0;
    clear: both;
    text-align: center;
    float: none
  }
}

.alert--warning {
  background-color: rgba($yella, .1);
  @include box-shadow(inset 0 0 0 1px rgba(darken($yella,40%), .1));
}
