.Row {
  overflow: hidden;
  padding-bottom: 1em;
}

.Col {
  float: left;
  padding-left: 1em;
  &:first-child { padding-left: 0; }

  &.medium {
    @media (max-width: 800px) {
      float: none;
      width: auto !important;
    }
  }

  &.span-8 { width: 100% * 8/12; }
  &.span-4 { width: 100% * 4/12; }
}
